/* If using Profile.module.css */
.assetListItem {
    background-color: transparent;
    /* Default background */
    transition: background-color 0.3s ease;
    /* Smooth transition for hover */
}

.assetListItem:hover {
    background-color: aqua;
    /* Background color on hover */
    cursor: pointer;
    /* Indicate it's clickable */
}

/* If using global Profile.css, you might use a more specific class name to avoid conflicts */
.profile-asset-list-item {
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.profile-asset-list-item:hover {
    background-color: aqua;
    cursor: pointer; }